.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.drawer {
  width: calc(100%/6);
  height: 100vh;
  background-color: white;
  position: fixed;
  z-index: 2;
  inset: 0;
  text-align: left;
  padding-left: 1rem;
  animation: left-right 1s;
}

button {
  display: block;
  border-style: none;
  background-color: white;
  margin: 1rem 0;
}

.overlay {
  background-color: black;
  opacity: 0.3;
  position: relative;
  z-index: 0;
  height: 100vh;
  text-align: center;
}

.text {
  position: absolute;
  z-index: 2;
  inset: 10% 50%;
  width: 100vh;
}

@keyframes left-right {
  0% {
    left: -283px;
  }

  100% {
    left: 0;
  }
}
