body {
  font-family: Barlow, sans-serif;
}

.container {
  margin: 0 10%;
}

.row {
  display: flex;
}

.one-column {
  margin: 0 auto;
  text-align: center;
}

.column-one-fourth {
  flex-basis: calc(100% / 4);
  text-align: center;
}

img {
  width: 100%;
}

.icons > img {
  width: 25%;
}

h3 {
  margin-bottom: 30px;
}
