button {
  width: 175px;
  padding: 15px;
  font-size: 17px;
}

button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

th {
  background-color: black;
  color: white;
}

tr:nth-child(odd) {
  background-color: lightgray;
}
